# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\skoleni\skoleni_Javascript_Typescript_Ondra\tsProjectTemplate\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
